.cart {
    padding: 1rem;
    padding-top: 0;
    margin-bottom: 1rem;

    max-height: calc(100vh - 57rem);
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        background-color: #fff;
    }
}