.footer {
  background-color: $color-black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-link;
  font-size: 1.5rem;

  &--logo {
    fill: $color-primary;
    font-size: 15rem;
    padding: 5rem 0;
  }

  &__row {
    display: flex;
    justify-content: center;

    @include respond(tab-land) {
      flex-direction: column;
    }
  }

  &__navigation,
  &__copyright {
    width: 50%;
    padding: 3rem;
    border-top: 1px solid $color-link;
    margin: 0 10rem 3rem;

    @include respond(tab-land) {
      width: 80%;
      margin: 0 auto 2rem;
      padding: 2rem 1rem;
    }

    @include respond(tab-port) {
      width: 100%;
      margin: 0;
      padding: 2rem 1rem;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;

    &--item {
      text-align: center;
    }

    &--item:not(:last-of-type) {
      margin-right: 2rem;

      @include respond(tab-port) {
        margin: 1rem 0;
      }
    }

    @include respond(tab-land) {
      justify-content: center;
    }

    @include respond(tab-port) {
      justify-content: center;
      flex-direction: column;
    }
  }

  &__link {
    width: fit-content;

    &:link,
    &:visited {
      text-decoration: none;
      color: $color-link;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      transform: scale(1.15);
      background-color: $color-black;
      box-shadow: 0 1rem 2rem rgba(#000, 0.3);
      color: $color-primary;
    }

    &:active {
      transform: scale(1.15) translateY(1px);
      box-shadow: 0 1rem 2rem rgba(#000, 0.2);
    }
  }
}
