<div class="order-details">
    <div class="order-details__title">Your order</div>
    <div class="order-details__method">
        <div class="order-details__method--button order-details__order-button">Order</div>
        <div class="order-details__method--button order-details__order-button">Self picking</div>
    </div>
    <div class="order-details__overview">
        <div class="order-details__overview--headline">Order overview <span class="order-details__overview--minprice" >(Minimum order price 50$)</span></div>

        <div class="order-details__overview--delivery-time"><div class="order-details__overview--delivery-time-headline">ETA</div> <div class="order-details__overview--delivery-time-stamp">70-75 min</div></div>
        <div class="order-details__overview--price">
            Price 
            <span class="order-details__overview--price-none-delivery">&nbsp; (Not including delivery)</span> 
            <span class="order-details__overview--price-tag">0.00$</span>
        </div>
        <textarea class="order-details__overview--order-notes" name="order-notes" id="order-notes" placeholder="Order notes"></textarea>
    </div>

    <div class="order-details__order-button">Order &rarr;</div>
</div>