@import '../../assets/global_variables.scss';

.order-details {
    display: flex;
    flex-direction: column;

    width: 30rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: #fff;
    font-size: 1.8rem;

    margin: 5rem;
    right: 0;
    top: 0;

    &__title {
        font-size: 2rem;
        width: 100%;
        padding-bottom: 2rem;

        border-bottom: 1px solid $color-black;
    }

    &__method {
        position: relative;
        text-align: center;
        display: flex;
        align-self: center;
        align-items: center;
        
        width: 100%;
        height: 3rem;
        margin: 2rem 0;
        border-radius: 100px;
        background-color: $color-light-gray-2;

        &--checkbox {
            display: none;
        }
        
        /* CHECKBOX STATES */
        &--checkbox:checked ~ #order-method-slider--button {
            left: 50%;
        }

        &--checkbox:checked ~ .order-details__method--button-right {
            color: #fff;

            &:hover {
                transition: all .2s;
                color: $color-dark-gray-1;
            }
        }

        &--checkbox:checked ~ .order-details__method--button-left {
            color: inherit;

            &:hover {
                transition: all .2s;
                color: $color-dark-gray-1;
            }
        }

        &--button {
            position: absolute;
            text-align: center;
            
            top: .2rem;
            width: 50%;
            height: 100%;
            border-radius: 100px;
            cursor: pointer;

            &:hover {
                transition: all .2s;
                color: $color-dark-gray-1;
            }

            &--active {
                top: 0;
                left: 0;
                transition: all .3s;
                background-color: $color-yellow-1;
            }

            &-left {
                color: #fff;
                align-self: flex-start;
                left: 0;
            }

            &-right {
                align-self: flex-end;
                right: 0;
            }
        }
    }

    &__overview {

        &--headline {
            font-weight: 700;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
        }

        &--minprice {
            font-size: 1.4rem;
            font-weight: 300;
        }

        &--delivery-time {
            font-weight: 700;
            margin-bottom: 2rem;
            display: flex;

            &-stamp {
                margin-left: auto;
                font-weight: 300;
            }
        }

        &--price {
            display: flex;
            align-items: flex-end;
            margin-bottom: 1rem;
            font-weight: 700;

            &-none-delivery {
                font-size: 1.2rem;
                font-weight: 300;
            }

            &-tag {
                margin-left: auto;
            }
        }

        &--order-notes {
            height: 80px;
            resize: none;

            font-family: inherit;
            font-size: inherit;
            color: inherit;

            margin-bottom: 2rem;
        }
    }

    &__order-button {
        margin-left: auto;
        padding: 1rem 2rem;
        border-radius: 10px;
        background: $color-yellow-1;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background-color: $color-yellow-2;
            color: $color-dark-gray-1;
        }
    }
}

textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}