<div class="serving">
    <div class="serving__photo--container">
        <img src="assets/img/{{serving.photo}}" alt="{{serving.name}}" class="serving__photo">
    </div>
    <div class="serving__details">
        <div class="serving__name">{{serving.name}}</div>

        <div class="serving__flex">
          <div class="serving__description">{{serving.description}}</div>
          <div class="serving__price">{{serving.price}}$</div>
        </div>

        <div class="serving__add" (click)="addItem()">Add to cart &#43;</div>
    </div>
</div>