<div class="option">
    <div class="option__headline">{{option.headline}}</div>
    
    <div class="option__description" *ngIf="state !== itemsState.NotRequired" 
            [ngClass]="(state === itemsState.MaxItems || state === itemsState.MaxOneItem) ? 
                            'option__description--option' : 'option__description--required'">
        {{ getDescriptionText() }}
    </div>

    <div class="option__possibilities">
        <app-order-menu-item-modal-option-possibility *ngFor="let pos of option.options"></app-order-menu-item-modal-option-possibility>
    </div>
</div>