.menu {
    position: relative;
    display: flex;
    background-image: url('assets/img/background.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

.categories-flex {
    width: calc(100% - 70rem);
    margin-top: 5rem;
    margin-left: 30rem;
    position: relative;
    top: -5rem;
}