<app-order-menu-item-modal id="item-modal" *ngIf="selectedItem" class="item-modal__hidden" [item]="selectedItem"></app-order-menu-item-modal>
<div class="low-brightness-div" *ngIf="selectedItem"></div>

<app-order-menu-header [isOpened]="false"></app-order-menu-header>

<div class="menu" id="menu-div">
    <app-order-menu-category-chooser [categories]="categories"></app-order-menu-category-chooser>
    <div class="categories-flex">
        <app-order-menu-category *ngFor="let category of categories" [category]="category" id="category-{{category._id}}"></app-order-menu-category>
    </div>
    <app-order-menu-details></app-order-menu-details>
</div>