@import '../../assets/global_variables.scss';

.category-chooser {
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid $color-black;
    width: 20rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 5rem;
    position: fixed;

    &__name {
        padding: 1rem 0;
        transition: all .2s;
        cursor: pointer;
        text-align: center;
        width: fit-content;

        font-size: 1.6rem;
        text-transform: uppercase;

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }

        &:hover {
            color: $color-dark-gray-1;
        }

        &--active {
            color: #fff;
            background-color: aqua;
            border-radius: 10px;
        }
    }
}