<header class="header">
    <nav>
        <div class="row nav">
            <svg class="logo">
                <use xlink:href="assets/logo.svg#icon-food"></use>
            </svg>
            <ul class="main-nav">
                <li class="main-nav__item"><a class="main-nav__link" routerLink="/order">Order food</a></li>
                <li class="main-nav__item"><a class="main-nav__link" href="/home#story">Our story</a></li>
                <li class="main-nav__item"><a class="main-nav__link" href="#">Contact us</a></li>
                <li class="main-nav__item"><a class="main-nav__link" href="#">Location</a></li>
            </ul>
        </div>
    </nav>

    <div class="header__heading">
        <div class="header__heading--primary">
            sugarland
        </div>
        <div class="header__heading--secondary">
            home of the candies
        </div>
    </div>
</header>

<main>
    <section class="section-story">
        <div class="row story-row">
          <div class="story-div" id="story">
              <h2 class="header__heading--secondary">Our story</h2>
          </div>
          <div class="slideshow">
              <div class="slideshow__photo slideshow__photo--1"></div>
              <div class="slideshow__photo slideshow__photo--2"></div>
              <div class="slideshow__photo slideshow__photo--3"></div>
              <div class="slideshow__photo slideshow__photo--4"></div>
              <div class="slideshow__photo slideshow__photo--5"></div>
          </div>
      </div>
    </section>
</main>