.heading {
    &--primary {
        font-size: 7rem;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 1.5rem;
        transition: all .2s;

        animation: moveInLeft 1.5s ease-in-out;

        &:hover {
            transform: skewY(2deg) skewX(5deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }
    }

    &--secondary {
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: .5rem;

        animation: moveInRight 1.5s ease-in-out;
    }

    &--tertiary {
        font-size: 3rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
        letter-spacing: .6rem;
        font-weight: 400;
    }
}

.paragraph {
    font-size: 2.2rem;
    font-weight: 100;
    padding-right: 1rem;

    @include respond(tab-land) {
        margin-bottom: 5rem;
    }
}